body{
	text-align: center;
	background-color: #86d4c9c7;
}

.inmargin{
	background-color: #eee;
	margin: 0 8rem 0 8rem;
	padding: 1rem 0 1rem 0;
}

.basicmargin{
	margin: 1rem 1rem;
}

td{
	width: 490px;
	padding: 5px;
	text-align: left;

}

.rightali{
	text-align: right;
}
.sbutton{
	background-color: #008CBA;
	border-radius: 5%;
    color: white;
    padding: 10px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}